@use "../base/" as *;

body {
  font-size: 0.75rem;
  font-weight: 500;

  @include breakpoint("medium") {
    font-size: 1.5rem;
  }
}

a {
  color: color("primary");

  &:hover {
    text-decoration: underline;
  }
}

*:focus {
  outline-color: color("primary");
}
