@use "../components" as *;

.header {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;

  @include breakpoint("medium") {
    padding: 3rem 0;
  }

  &__logo {
    height: 3rem;

    @include breakpoint("medium") {
      height: 4.25rem;
    }
  }

  &__menu {
    display: flex;

    &-item:not(:first-child) {
      margin-left: 1rem;

      @include breakpoint("medium") {
        margin-left: 2.5rem;
      }
    }

    &-link {
      text-transform: uppercase;

      @include breakpoint("medium") {
        text-transform: initial;
      }
    }
  }
}
