@use "../components" as *;

.thumb {
  &__content {
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;
    width: 100%;
    height: 16rem;
    margin-top: 1.5rem;

    @include breakpoint("medium") {
      aspect-ratio: 1/1;
      margin-top: 0;
      height: auto;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;

    &::after {
      content: "";
      display: block;
      background-color: color("primary");
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(
      to top,
      hslac(color("dark"), 0.5),
      hslac(color("light"), 0)
    );
  }

  &__title {
    color: color("light");
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem;
    position: absolute;
    bottom: 0;
  }
}